.main {
  padding: 8rem 6rem;
  background-color: #f7f7f7;
  min-height: 68vh;
}

.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}
