@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --section-rotate: 9vw;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn-no-hover,
.btn-no-hover:link,
.btn-no-hover:visited,
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btn--tiny {
  padding: 0.5rem 1.2rem !important;
  font-size: 1.4rem !important;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}

.btn--grey {
  background-color: #ccc;
  color: #fff;
}

.btn--red {
  background-color: #d25050;
  color: #fff;
}

.btn--delete {
  color: #d25050;
  font-weight: 500;
  border: none;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.btn--edit {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
  cursor: pointer;
}

.heading-secondary {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.span-all-rows {
  grid-row: 1 / -1;
}

.mb-xlg {
  margin-bottom: 5rem;
}

.mb-lg {
  margin-bottom: 3.5rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mt-xsm {
  margin-top: 1rem;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.full-height {
  height: 100%;
}

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.no-data {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
